@font-face {
  font-family: Inter-Italic;
  font-weight: 400;
  src: url(assets/fonts/InterTight-Italic-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.body {
  width: 100%;
  margin: 0;
  background: #fdf9f5;
}
.body-container {
  overflow: hidden;
  max-width: 1440px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter-Italic;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  color: #381908;
  background: #fdf9f5;
}

.header {
  position: relative;
  height: 100px;
  width: 100%;
  padding: 20px 40px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  z-index: 999;
}

.main {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

.logo {
  margin-top: 5px;
  z-index: 99;
}
.nav-menu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41.5px;
  transition: 0.2s;
}
.nav-menu li {
  background-image: linear-gradient(to right, #403F3D, #403F3D);
  background-repeat: no-repeat;
  background-size: 10px 0px;
  background-position: center bottom;
}
.nav-link {
  padding: 0;
  color: #403F3D;
  text-decoration: none;
  transition: 0.5s;
}

.main__photo-background {
  position: absolute;
  width: 70%;
  top: -115px;
  right: -105px;
  transform: rotate(-10deg);
  z-index: 9;
}

.footer {
  width: 100%;
}
